
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Idea Board</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
  <header>
    <img src="{% static 'logo2.png' %}" alt="Logo" />
  </header>

  <div class="sidebar">
    <div id="btnHome"><img src="{% static 'home.png' %}" alt="Home" /></div>
    <div id="btnProfile"><img src="{% static 'user.png' %}" alt="Profile" /></div>
    <div id="btnRanking"><img src="{% static 'winner.png' %}" alt="Ranking" /></div>
    <div id="btnMyIdeas"><img src="{% static 'resume.png' %}" alt="My Ideas" /></div>
    <div id="btnAdd"><img src="{% static 'add.png' %}" alt="Add Idea" /></div>
  </div>

  <div class="main">


      <!-- Add Idea Page -->
    <div id="add" class="page">
      <h2>Add New Idea</h2>
      <input id="ideaName" placeholder="Idea Name (max 50 chars)" maxlength="50" />
      <textarea id="ideaDesc" placeholder="Description (max 250 chars)" maxlength="250"></textarea>
      <input type="file" id="ideaImage" accept="image/*" />
      <img id="ideaPreview" src="" style="max-width: 200px; display:block; margin-top:10px;" />
      <button id="submitIdeaBtn">Submit Idea</button>
    </div>


    
    </div>

     <script src="app.js"></script>
</body>
</html>
