{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Idea Board</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
  <header>
    <img src="{% static 'logo2.png' %}" alt="Logo" />
  </header>

  <div class="sidebar">
    <div id="btnHome"><img src="{% static 'home.png' %}" alt="Home" /></div>
    <div id="btnProfile"><img src="{% static 'user.png' %}" alt="Profile" /></div>
    <div id="btnRanking"><img src="{% static 'winner.png' %}" alt="Ranking" /></div>
    <div id="btnMyIdeas"><img src="{% static 'resume.png' %}" alt="My Ideas" /></div>
    <div id="btnAdd"><img src="{% static 'add.png' %}" alt="Add Idea" /></div>
  </div>

  <div class="main">
    <!-- Home Feed -->
    <div id="home" class="page visible">
      <div class="feed-container" id="homeFeed">
        {% if test_message is not None %}
        <p>{{test_message}}</p>
        {% endif %}

        {% for idea in all_ideas %}
            <div style="background-color: bisque; border-radius: 1px;">
                <p>{{ idea.owner.name }}</p>
                <p>{{ idea.title }}</p>
                <p>{{ idea.description}}</p>
                <img src="{{ idea.photo.img }}" alt="Фото ідеї">
                <p>{{ idea.create_date|date:"F j, Y" }}</p>
                <p>{{ idea.status}}</p>
                <p>{{ idea.number_of_likes}}</p>
            </div>

        {% endfor %}
      </div>
    </div>

     <script src="app.js"></script>
</body>
</html>
