{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Idea Board</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
  <header>
    <img src="{% static 'logo2.png' %}" alt="Logo" />
  </header>

  <div class="sidebar">
    <div id="btnHome"><img src="{% static 'home.png' %}" alt="Home" /></div>
    <div id="btnProfile"><img src="{% static 'user.png' %}" alt="Profile" /></div>
    <div id="btnRanking"><img src="{% static 'winner.png' %}" alt="Ranking" /></div>
    <div id="btnMyIdeas"><img src="{% static 'resume.png' %}" alt="My Ideas" /></div>
    <div id="btnAdd"><img src="{% static 'add.png' %}" alt="Add Idea" /></div>
  </div>

  <div class="main">



    <div id="myideas" class="page">
      <div class="feed-container" id="myIdeasFeed"></div>
        {% for idea in owner_ideas %}
            <div style="background-color: bisque; border-radius: 1px;">
                <p>{{ idea.title }}</p>
                <p>Створив користувач {{ idea.owner.name }}</p>
                <p>Published {{ idea.create_date|date:"F j, Y" }}</p>




    </div>

  
  
    </div>
</body>
</html>
